{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News add
{% endblock title %}


{% block content %}

<div align="left">
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Field name</th>
                <th>Content</th>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{ request.user }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>Post Category</td>
                <td>{{ form.categoryType }}</td>
            </tr>
            <tr>
                <td>Theme</td>
                <td>{{ form.postCategory }}</td>
            </tr>
            <tr>
                <td>Text of the news</td>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add news"></td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}